.numberGame {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 150px;
    text-shadow: 7px 4px black;
}
#display {
    text-shadow: 1px 1px transparent;
}
.numbrsList {
    font-size: 260%;
    width: 6%;
    text-align: center;
    box-shadow: 1px 1px lightslategray;
    align-items: center;
    min-width: 100px; /* Adjust the minimum width as needed */
}
/* Pseudo-element for line break effect */
.line-break::before {
    content: "";
    flex-basis: 100%;
    height: 0;
}
